<!DOCTYPE html>
<html>
   <head>
      <title>
         Shopping website
      </title>
      <style>
         body {
         background-color: #E6E6FA;
         }
      </style>
   </head>
   <body>
      <h3>
         Input your keyword for search a nice product!
      </h3>
      <form action="/search" method="POST">
         <input type="text" id="keyWord" name="keyWord" placeholder="Search keyword..." size="20"><br><br>
         <input type="submit" style="height: 20px; width: 80px;">
      </form>
   </body>
</html>